.element5-container {
    padding: 20px;
  }
  
  .element5-heading {
    padding-left:20px;
    margin-top: 45px;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Gilroy-Bold', sans-serif;
    text-align: left;
  }
  
  .element5-paragraph {
    padding-right: 10px;
  margin-top: 20px;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: 'Gilroy-Regular', sans-serif;
  max-width: 90%;
  }
  
  .img-fluid {
    max-width: 130%;
    height: auto;
  }
  
  .demo-link1 {
    text-align: left;
    text-decoration: none;
    color: #473BF0;
    padding-right: 100px;
  }
  
  .demo-icon1 {
    width: 20px; /* Adjust icon size */
    height: 20px;
    margin-left: 5px; /* Add space between text and icon */
  }
  